body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u45704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:344px;
}
#u45705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u45705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u45705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u45706 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:153px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u45706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:35px;
}
#u45707 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:209px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u45707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:35px;
}
#u45708 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:0px;
  width:256px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u45708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u45709 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:181px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u45709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u45710 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:152px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u45710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u45711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:87px;
  height:38px;
  display:flex;
}
#u45711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u45712 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:35px;
  width:153px;
  height:38px;
  display:flex;
}
#u45712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u45713 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:35px;
  width:209px;
  height:38px;
  display:flex;
}
#u45713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u45714 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:35px;
  width:256px;
  height:38px;
  display:flex;
}
#u45714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u45715 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:35px;
  width:181px;
  height:38px;
  display:flex;
}
#u45715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u45716 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:35px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u45716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u45717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:87px;
  height:40px;
  display:flex;
}
#u45717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u45718 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:73px;
  width:153px;
  height:40px;
  display:flex;
}
#u45718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u45719 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:73px;
  width:209px;
  height:40px;
  display:flex;
}
#u45719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u45720 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:73px;
  width:256px;
  height:40px;
  display:flex;
}
#u45720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u45721 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:73px;
  width:181px;
  height:40px;
  display:flex;
}
#u45721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u45722 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:73px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u45722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u45723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:87px;
  height:39px;
  display:flex;
}
#u45723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:39px;
}
#u45724 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:113px;
  width:153px;
  height:39px;
  display:flex;
}
#u45724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:39px;
}
#u45725 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:113px;
  width:209px;
  height:39px;
  display:flex;
}
#u45725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:39px;
}
#u45726 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:113px;
  width:256px;
  height:39px;
  display:flex;
}
#u45726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:39px;
}
#u45727 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:113px;
  width:181px;
  height:39px;
  display:flex;
}
#u45727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:39px;
}
#u45728 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:113px;
  width:152px;
  height:39px;
  display:flex;
  color:#5CC870;
}
#u45728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u45729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:87px;
  height:40px;
  display:flex;
}
#u45729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u45730 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:152px;
  width:153px;
  height:40px;
  display:flex;
}
#u45730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u45731 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:152px;
  width:209px;
  height:40px;
  display:flex;
}
#u45731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u45732 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:152px;
  width:256px;
  height:40px;
  display:flex;
}
#u45732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u45733 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:152px;
  width:181px;
  height:40px;
  display:flex;
}
#u45733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u45734 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:152px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u45734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u45735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:87px;
  height:38px;
  display:flex;
}
#u45735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u45736 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:192px;
  width:153px;
  height:38px;
  display:flex;
}
#u45736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u45737 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:192px;
  width:209px;
  height:38px;
  display:flex;
}
#u45737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u45738 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:192px;
  width:256px;
  height:38px;
  display:flex;
}
#u45738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u45739 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:192px;
  width:181px;
  height:38px;
  display:flex;
}
#u45739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u45740 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:192px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u45740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u45741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:87px;
  height:38px;
  display:flex;
}
#u45741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u45742 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:230px;
  width:153px;
  height:38px;
  display:flex;
}
#u45742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u45743 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:230px;
  width:209px;
  height:38px;
  display:flex;
}
#u45743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u45744 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:230px;
  width:256px;
  height:38px;
  display:flex;
}
#u45744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u45745 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:230px;
  width:181px;
  height:38px;
  display:flex;
}
#u45745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u45746 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:230px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u45746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u45747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:87px;
  height:38px;
  display:flex;
}
#u45747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u45748 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:268px;
  width:153px;
  height:38px;
  display:flex;
}
#u45748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u45749 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:268px;
  width:209px;
  height:38px;
  display:flex;
}
#u45749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u45750 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:268px;
  width:256px;
  height:38px;
  display:flex;
}
#u45750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u45751 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:268px;
  width:181px;
  height:38px;
  display:flex;
}
#u45751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u45752 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:268px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u45752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u45753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:87px;
  height:38px;
  display:flex;
}
#u45753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u45754 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:306px;
  width:153px;
  height:38px;
  display:flex;
}
#u45754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u45755 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:306px;
  width:209px;
  height:38px;
  display:flex;
}
#u45755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u45756 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:306px;
  width:256px;
  height:38px;
  display:flex;
}
#u45756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u45757 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:306px;
  width:181px;
  height:38px;
  display:flex;
}
#u45757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u45758 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:306px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u45758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
