body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u36801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36801 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:320px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u36802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36802 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:144px;
  width:200px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u36803 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:144px;
  width:296px;
  height:15px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u36803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36804 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:332px;
  width:200px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u36805 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:172px;
  width:104px;
  height:15px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u36805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u36806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36806 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:332px;
  width:473px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36807 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:517px;
  width:200px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36808 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:332px;
  width:457px;
  height:60px;
  display:flex;
}
#u36808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36809 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:517px;
  width:348px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36810 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:517px;
  width:509px;
  height:75px;
  display:flex;
}
#u36810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36811 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:244px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u36811_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:93px;
}
#u36811_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:75px;
  width:18px;
  height:19px;
}
#u36811_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36812 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:432px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u36812_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:90px;
}
#u36812_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:72px;
  width:18px;
  height:19px;
}
#u36812_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u36813 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:660px;
  width:100px;
  height:100px;
  display:flex;
}
#u36813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
