body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:838px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u30592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30592 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:188px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30593 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:63px;
  width:812px;
  height:88px;
}
#u30594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:41px;
}
#u30594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u30595 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u30596 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:120px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:41px;
}
#u30597 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:78px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u30598 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:90px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u30599 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:100px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u30600 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:0px;
  width:100px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u30601 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u30602 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:82px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u30603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:78px;
  height:47px;
  display:flex;
}
#u30603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u30604 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:41px;
  width:82px;
  height:47px;
  display:flex;
}
#u30604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u30605 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:41px;
  width:120px;
  height:47px;
  display:flex;
}
#u30605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u30606 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:41px;
  width:78px;
  height:47px;
  display:flex;
}
#u30606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:47px;
}
#u30607 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:41px;
  width:90px;
  height:47px;
  display:flex;
}
#u30607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u30608 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:41px;
  width:100px;
  height:47px;
  display:flex;
}
#u30608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u30609 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:41px;
  width:100px;
  height:47px;
  display:flex;
}
#u30609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u30610 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:41px;
  width:82px;
  height:47px;
  display:flex;
}
#u30610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u30611 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:41px;
  width:82px;
  height:47px;
  display:flex;
}
#u30611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30612 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:186px;
  width:308px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30612_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
