body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:234px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:85px;
  width:196px;
  height:16px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:119px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:388px;
  width:128px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:338px;
  width:0px;
  height:0px;
}
#u286_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u286_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:75px;
  width:21px;
  height:10px;
}
#u286_seg2 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:71px;
  width:19px;
  height:18px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:499px;
  width:128px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:338px;
  width:0px;
  height:0px;
}
#u288_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u288_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:75px;
  width:26px;
  height:10px;
}
#u288_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:71px;
  width:19px;
  height:18px;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:338px;
  width:0px;
  height:0px;
}
#u289_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u289_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:186px;
  width:26px;
  height:10px;
}
#u289_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:182px;
  width:19px;
  height:18px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:338px;
  width:0px;
  height:0px;
}
#u291_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u291_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:75px;
  width:26px;
  height:10px;
}
#u291_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:71px;
  width:19px;
  height:18px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:499px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:610px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:338px;
  width:0px;
  height:0px;
}
#u296_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u296_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:75px;
  width:37px;
  height:10px;
}
#u296_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:71px;
  width:19px;
  height:18px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:338px;
  width:0px;
  height:0px;
}
#u297_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u297_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:186px;
  width:37px;
  height:10px;
}
#u297_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:182px;
  width:19px;
  height:18px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:104px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:338px;
  width:0px;
  height:0px;
}
#u298_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:307px;
}
#u298_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:297px;
  width:37px;
  height:10px;
}
#u298_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:293px;
  width:19px;
  height:18px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:159px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:499px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:338px;
  width:0px;
  height:0px;
}
#u300_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u300_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:186px;
  width:26px;
  height:10px;
}
#u300_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:182px;
  width:19px;
  height:18px;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:499px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:610px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:718px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u306_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u306_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:75px;
  width:26px;
  height:10px;
}
#u306_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:71px;
  width:19px;
  height:18px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u307_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u307_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:186px;
  width:26px;
  height:10px;
}
#u307_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:182px;
  width:19px;
  height:18px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u308_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:307px;
}
#u308_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:297px;
  width:26px;
  height:10px;
}
#u308_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:293px;
  width:19px;
  height:18px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:154px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u309_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:415px;
}
#u309_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:405px;
  width:26px;
  height:10px;
}
#u309_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:401px;
  width:19px;
  height:18px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:208px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u311_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u311_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:46px;
  width:83px;
  height:10px;
}
#u311_seg2 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:46px;
  width:10px;
  height:53px;
}
#u311_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:86px;
  width:18px;
  height:19px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u312_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u312_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:148px;
  height:10px;
}
#u312_seg2 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:46px;
  width:10px;
  height:53px;
}
#u312_seg3 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:86px;
  width:18px;
  height:19px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u313_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u313_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:359px;
  height:10px;
}
#u313_seg2 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:46px;
  width:10px;
  height:53px;
}
#u313_seg3 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:86px;
  width:18px;
  height:19px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:123px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u314_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u314_seg1 {
  border-width:0px;
  position:absolute;
  left:-427px;
  top:46px;
  width:432px;
  height:10px;
}
#u314_seg2 {
  border-width:0px;
  position:absolute;
  left:-427px;
  top:46px;
  width:10px;
  height:53px;
}
#u314_seg3 {
  border-width:0px;
  position:absolute;
  left:-431px;
  top:86px;
  width:18px;
  height:19px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u315_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u315_seg1 {
  border-width:0px;
  position:absolute;
  left:-638px;
  top:46px;
  width:643px;
  height:10px;
}
#u315_seg2 {
  border-width:0px;
  position:absolute;
  left:-638px;
  top:46px;
  width:10px;
  height:53px;
}
#u315_seg3 {
  border-width:0px;
  position:absolute;
  left:-642px;
  top:86px;
  width:18px;
  height:19px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u316_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u316_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:570px;
  height:10px;
}
#u316_seg2 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:46px;
  width:10px;
  height:53px;
}
#u316_seg3 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:86px;
  width:18px;
  height:19px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:228px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u318_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u318_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:781px;
  height:10px;
}
#u318_seg2 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:46px;
  width:10px;
  height:53px;
}
#u318_seg3 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:86px;
  width:18px;
  height:19px;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:334px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:778px;
  width:32px;
  height:32px;
  display:flex;
}
#u319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:276px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:336px;
  width:0px;
  height:0px;
}
#u322_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:87px;
}
#u322_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:77px;
  width:22px;
  height:10px;
}
#u322_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:73px;
  width:19px;
  height:18px;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u323_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u323_seg1 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:46px;
  width:261px;
  height:10px;
}
#u323_seg2 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:46px;
  width:10px;
  height:51px;
}
#u323_seg3 {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:84px;
  width:18px;
  height:19px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:38px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
