body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u10526 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:256px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u10526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10527 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:103px;
  width:561px;
  height:151px;
}
#u10528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:40px;
}
#u10529 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:461px;
  height:40px;
  display:flex;
}
#u10529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:71px;
}
#u10530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:71px;
}
#u10531 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:461px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:40px;
}
#u10533 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:111px;
  width:461px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10534 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:297px;
  width:596px;
  height:32px;
  display:flex;
}
#u10534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
